*{
    padding: 0;
    margin: 0;
    font-family: 'Concert One', cursive;
    box-sizing:border-box
}

.logo{
    width: 100px;
    height: 100px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.anchor{
    margin: 40px;
    text-decoration: none;
    color: black;
}

#search{
    margin-right: 20px;
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color:#000;
    border-radius: 20%;
}

.about {
    position: relative;
    text-align: center;
 }
  
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.linked-para {
    text-decoration: none;
    color: black;
}

.image-about {
    width: 100%;
    height: 300px;
  }
  
  .anchor {
    margin: 40px;
    text-decoration: none;
    color: black;
  }

  .fit-man,.health{
    object-fit: cover;
    width: 50%;
  }
  
  .first-section,.second-section{
    display:flex;
    justify-content: space-between;
    align-items: center;
   
  }

  .heading-one{
    display: block;
    padding:20px;
    line-height: 30px;

  }

  header {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mainMenu {
    display: flex;
    list-style: none;
    align-items: center;
  }
  .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-size: 18px;
    transition: 0.2s ease;
  }
  .mainMenu li a:hover {
    background: rgb(33, 177, 177);
  }
  .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
  }
  .mainMenu .closeMenu,
  .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
  }

  @media screen and (max-width:600px){
    .first-section{
      display: flex;
      flex-direction: column !important;
    }
    .heading-one{
      order: 2;
    }
    .fit-man{
      order: 1;
    }
    .fit-man,.health{
      width: 100%;
    }
    .anchor-main,header form input{
      display: none;
    }

    .mainMenu {
      height: 100vh;
      position: fixed;
      top: 0px;
      right: 0px;
      left: 0px;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgb(255, 255, 255);
      transition: top 1s ease 0s;
      display: none;
    }
    .mainMenu .closeMenu {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
    }
    .openMenu {
      display: block;
    }
    .mainMenu li a:hover {
      background: none;
      color: rgb(255, 123, 0);
    }
    .icons i {
      display: inline-block;
      padding: 12px;
    }
  }