*{
    padding: 0;
    margin: 0;
    font-family: 'Concert One', cursive;
    box-sizing:border-box
}

.logo{
    width: 100px;
    height: 100px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.anchor{
    margin: 40px;
    text-decoration: none;
    color: black;
}

header form input{
    margin-right: 20px;
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color:#000;
    border-radius: 20%;
}

.about {
    position: relative;
    text-align: center;
 }
  
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.linked-para {
    text-decoration: none;
    color: black;
}

.image-about {
    width: 100%;
    height: 300px;
  }
  
  .anchor {
    margin: 40px;
    text-decoration: none;
    color: black;
  }

  .fit-man,.health{
    object-fit: cover;
    width: 50%;
  }
  
  .first-section,.second-section{
    display:flex;
    justify-content: space-between;
    align-items: center;
   
  }

  .heading-one{
    display: block;
    padding:20px;
    line-height: 30px;

  }

  @media screen and (max-width:800px){
    .first-section{
      display: flex;
      flex-direction: column !important;
    }
    .heading-one{
      order: 2;
    }
    .fit-man{
      order: 1;
    }
    .fit-man,.health{
      width: 100%;
    }
    .anchor-main{
      display: none;
    }
  }