* {
  padding: 0;
  margin: 0;
  font-family: 'Concert One', cursive;
  box-sizing: border-box;
}

.logo {
  width: 100px;
  height: 100px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E2E8F0;
}

main{
  padding: 0 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover{
  color: #482ff7;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}

.anchor {
  margin: 40px;
  text-decoration: none;
  color: black;
}

header form input {
  margin-right: 20px;
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: #000;
  border-radius: 20%;
}


.image2 {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.big-image {
  width: 600px;
  height: 450px;
  object-fit: cover;
}

.new-headig{
  margin-left: 500px;
}

.div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.div a {
  text-decoration: none;
  color: #000;
}

.container2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.image3 {
  width: 100%;
  height: 300px;
  object-fit: cover;
}


.image-about {
  width: 100%;
  height: 300px;
}

.wrapper {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
}
.linked-image {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.linked-para {
  text-decoration: none;
  color: black;
}

.para{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  text-decoration: none;
  color: black;
}
.image4{
  width: 330px;
  height: 175px;
  object-fit: cover;
  padding: 0 20px;
  transition: 0.5s;
}

.image4:hover {
  transform: translateY(-10px);
}


.about {
  position: relative;
  text-align: center;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text1 {
  color: white;
}

/* Caption text */
.text {
  /* color: #000000; */
  font-size: 50px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: left;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

header {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainMenu {
  display: flex;
  list-style: none;
}
.mainMenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  font-size: 18px;
  transition: 0.2s ease;
}
.mainMenu li a:hover {
  background: rgb(33, 177, 177);
}
.openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}
.mainMenu .closeMenu,
.icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}



@media screen and (max-width: 1320px) {
  .wrapper {
    flex-wrap: wrap;
    gap: 40px;
  }
  .para{
    margin-bottom: 30px;
  }
  .linked-image {
    width: 100% !important;
  }
  .linked-para {
    width: 100% !important;
  }
  .big-image {
    width: 100%;
    max-width: none !important;
  }
}

@media screen and (max-width: 1320px) {
  .first-image2{
    display: none;
  }
  .image4{
    width: 400px;
    height: 300px;
  }
}

@media screen and (max-width: 900px) {
  .container2{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  header form input {
    display: none;
  }
  .image4{
    width: 300px;
    height: 200px;
  }
}

@media screen and (max-width: 600px) {
  header form input {
    display: none;
  }
  /* .anchor {
    display: flex;
    justify-content: space-evenly;
  } */
  /* .anchor-main,
  .big-image,
  .heading3 {
    display: none;
  } */
  .linked-image {
    grid-template-columns: 1fr;
  }

  .image4{
    width: 200px;
    height: 200px;
  }
  .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    transition: top 1s ease 0s;
    display: none;
  }
  .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .openMenu {
    display: block;
  }
  .mainMenu li a:hover {
    background: none;
    color: rgb(255, 123, 0);
  }
  .icons i {
    display: inline-block;
    padding: 12px;
  }
}

@media screen and (max-width: 450px) {
  .image4{
    width: 150px;
    height: 150px;
  }

}