* {
  padding: 0;
  margin: 0;
  font-family: 'Concert One', cursive;
  box-sizing: border-box;
}

.logo {
  width: 100px;
  height: 100px;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
header ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.anchor {
  margin: 40px;
  text-decoration: none;
  color: black;
}

header form input {
  margin-right: 20px;
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: #000;
  border-radius: 20%;
}

.image2 {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.big-image {
  max-width: 550px;
  height: 450px;
  object-fit: cover;
}

.div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.div a {
  text-decoration: none;
  color: #000;
}

.container2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.image3 {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.image4 {
  width: 350px;
  height: 200px;
  padding: 20px;
  transition: 0.5s;
}

.image4:hover {
  transform: translateY(-10px);
}

.image-about {
  width: 100%;
  height: 300px;
}

.wrapper {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
}
.linked-image {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.linked-para {
  text-decoration: none;
  color: black;
}

.about {
  position: relative;
  text-align: center;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text1 {
  color: white;
}

/* Caption text */
.text {
  /* color: #000000; */
  font-size: 50px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: left;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}



@media (max-width: 1320px) {
  .wrapper {
    flex-wrap: wrap;
  }
  .linked-image {
    width: 100% !important;
  }
  .linked-para {
    width: 100% !important;
  }
  .big-image {
    width: 100%;
    max-width: none !important;
  }
}

@media (max-width: 1320px) {
  .container,.first-image2{
    display: none;
  }
 
}

@media screen and (max-width: 900px) {
  .container2 {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  header form input {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  header form input {
    display: none;
  }
  .anchor {
    display: flex;
    justify-content: space-evenly;
  }
  .anchor-main,
  .big-image,
  .heading3 {
    display: none;
  }

}

